$y: 0.5em;
$x: 0.5em;
$line-height: 1.4;
$size: ($line-height + ($y * 2));
$primary: #009688;
@function darker($color) {
    @return mix(#000, $color, 10%);
}

@mixin clearfix() {
    &:after {
        content: "";
        clear: both;
        display: block;
    }
}

// @mixin today() {
//     color: #FFF;
//     &:before {
//         content: "";
//         display: block;
//         position: absolute;
//         height: $size;
//         width: $size;
//         margin-top: $size / -4;
//         margin-left: $size / -100;
//         background-color: #212121;
//         border-radius: 50%;
//         z-index: -1;
//     }
// }
// @mixin today() {
//     color: #FFF;
//     border-radius: 50%;
//     background-color: #212121;
// }
@mixin today() {
    color: #8BC34A;
    box-shadow: inset 0 -2px 0px #8BC34A;
}

* {
    margin: 0;
    padding: 0;
    line-height: $line-height;
    text-decoration: none;
    font-family: sans-serif;
    font-size: inherit;
    box-sizing: border-box;
}

.today {
    @include today();
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    background-color: #B2DFDB;
}

.calendar {
    max-width: 400px;
    margin: 3em auto;
    text-align: center;
    border: 1px solid #FFF;
    border-radius: 10px;
    overflow: hidden;
}

.calendar-header {
    @include clearfix;
    background-color: $primary;
    color: #FFF;
}

.calendar-header-title,
.calendar-footer {
    padding: $y 0;
}

.calendar-footer {
    background-color: #8BC34A;
    color: #FFF;
}

.calendar-controls {
    padding: $y ($x * 3);
    &:hover {
        background-color: darker($primary);
    }
}

.calendar-controls__left {
    float: left;
}

.calendar-controls__right {
    float: right;
}

.calendar-table {
    th,
    td {
        padding: $y $x;
    }
    tbody {
        td {
            padding: ($y * 2.25) $x;
        }
        td:not(.today):hover {
            box-shadow: inset 0px -2px 0px #BDBDBD;
        }
        td:not(.today):active {
            box-shadow: inset 0 -2px 0px #8BC34A;
        }
    }
}

.calendar-table {
    width: 100%;
}